@import "~bootstrap/dist/css/bootstrap.min.css";


.container-app {
    background-color: rgb(247, 231, 236);
    padding: 25px;
}

.container-language-buttons {
    margin: auto;
    width: 60%;
    text-align: end;
}

.btn-spain {
    border: none;
}
.btn-spain:hover {
    opacity: 0.7;
}

.btn-uk {
    margin-left: 2px;
    border: none;
}
.btn-uk:hover {
    opacity: 0.7;
}

.btn-catalonia {
    margin-left: 2px;
    border: none;
}
.btn-catalonia:hover {
    opacity: 0.7;
}


@media (max-width: 767.98px) { 
    .container-language-buttons {
        text-align: center;
    }
}
