@import "~bootstrap/dist/css/bootstrap.min.css";


.container-total {
    background-color: salmon;
    color: white;
    width: 60%;
    border-radius: 10px;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
}


@media (max-width: 767.98px) { 

    .container-total {
        background-color: salmon;
        color: white;
        width: 60%;
        border-radius: 10px;
        margin: auto;
        padding: 25px;
        text-align: center;
    }
    
}
